
/* td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: black;
  
} */
.TT{
  height: 300px;
}
table {
  border-collapse: collapse;
  width: 50%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  height: 15%;
  
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: black;
  color: white;
}
tr:nth-child(odd){background-color:aliceblue}


