.TT{
  width: 50%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-bottom: 10%;
}
.ordertable{
  width: 50%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-bottom: 17.5%;
}
.ADDBUTTON{
 
  margin-bottom: 5%;
}
th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: black;
  color: white;
}
tr:nth-child(odd){background-color:aliceblue} 





/* td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: black;
  
} */
/* table.TT{

  height: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: 250px;
  width: max-content;
}
 tbody{
  height: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: 250px;
  width: max-content;
  
}  */

/* th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: black;
  color: white;
}
tr:nth-child(odd){background-color:aliceblue} */



/* td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: black;
  
} */
