/* body {
  background: #bdc3c7;
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); 
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); 
} */

.form1 {
  background-color: white;
  border-radius: 5px;
  width: 40%;
  margin: 20px auto;
  padding: 20px;
  margin-top: 5%;
  /* height: 600px; */
}

.form-body1 {
  text-align: center;
  padding: 20px 10px;
  /* display: table-caption; */
  /* display: table; */
  /* margin: 0 auto; */
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;

}

.form-body1 > * {
  padding: 5px;
/* align-content: center; */

}

.form__label1 {
  width: 40%;
  justify-content:center
}

.form_input1 {
 
  /* float: right; */
    margin-right: 20px;
}

.footer1 {
  text-align: center;
}
